@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-bg-color: #6d28d9;
    --sidebar-text-color: #ede9fe;
    --content-bg-color: #f5f3ff;
    --header-text-color: #2e1065;
    --main-bg-color: #ddd6fe;
    --card-text-color: #5b21b6;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 250px) minmax(min-content, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.header {
    background-color: var(--content-bg-color);
    color: var(--header-text-color);
    grid-area: header;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px black;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
    gap: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    flex: 1 0 75%;
}

.search button {
    background-color: transparent;
    border: none;
}

.search #searchbar {
    flex: 0 1 80%;
    background-color:  var(--main-bg-color);
    border-radius: 10px;
    border: 1px solid  var(--main-bg-color);
}

.alert {
    display: flex;
    align-items: center;
}

.header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-profile p {
    font-size: 14px;
    font-weight: 600;
}

.navbar svg {
    height: 24px;
    width: 24px;
    fill: var(--header-text-color);
}

.navbar img {
    width: 50px;
    border-radius: 50px;
}


.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 50px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.welcome img {
    width: 75px;
    border-radius: 50px;
}

p.hello {
    font-weight: 600;
}

p.name {
    font-size: 1.2em;
    font-weight: 600;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.right button {
    padding: 10px 30px;
    background-color: var(--sidebar-bg-color);
    border: 1px solid var(--sidebar-bg-color);
    border-radius: 50px;
    color: var(--sidebar-text-color);
    font-weight: 600;
}

.right button:hover {
    background-color: var(--header-text-color);
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-area: sidebar;
    color: var(--sidebar-text-color);
    z-index: 2;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 40px;
}

.logo-text > svg {
    height: 35px;
    width: 35px;
    fill: var(--sidebar-text-color);
}

.logo-text h1 {
    padding-left: 14px;
    font-size: 25px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
    padding: 5px;
}

.icon-text svg {
    height: 24px;
    width: 24px;
    fill: var(--sidebar-text-color);
}

.icon-text h2 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.icon-text:hover {
    background-color: var(--header-text-color);
}

.list-items-bottom {
    margin-top: 50px;
}

.main {
    background-color: var(--main-bg-color);
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    padding: 20px 15px;
    gap: 20px;
}

.projects {
    grid-area: projects;
}

.projects h1,
.announcements h1,
.trending h1 {
    font-size: 20px;
    color: var(--header-text-color);
}

.projects .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 10px 15px 10px 0;
}

.projects .card {
    border-left: 5px solid #a78bfa;
    border-radius: 5px;
    background-color: white;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card h2 {
    font-size: 18px;
    color: var(--header-text-color);
}

.card p {
    font-size: 14px;
    color: var(--card-text-color);
    padding-top: 10px
}


.projects .card-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 25px;
    gap: 25px;
}

.projects .card-icons svg {
    height: 24px;
    width: 24px;
    fill: var(--header-text-color);
}

.announcements {
    grid-area: announcements;
}

.announcement-cards {
    background-color: var(--content-bg-color);
    overflow: hidden;
    height: calc(90% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 14px;
}

.announcement-cards h2,
.trending-cards h2 {
    font-size: 18px;
    color: var(--header-text-color);
}

.announcement {
    height: calc(33% - 30px);
    overflow:hidden;
}

.announcement p {
    font-size: 12px;
    color: var(--card-text-color)
}

.announcement:hover {
    overflow: visible;
    flex: auto;
}

.trending {
    grid-area: trending;
}

.trending-cards {
    background-color: var(--content-bg-color);
    height: calc(90% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 14px;
}

.trend img {
    width: 50px;
    border-radius: 50px;
}

.trend {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--card-text-color);
}